body {
  background-color: rgb(18, 19, 18);
}
h1 {
  text-shadow: 2px 2px;
  margin-left: 20px;
}
@keyframes T2 {
  25%  {color: rgb(19, 19, 17);}
  50%  {color: rgb(150, 106, 26);}
  100% {color: green;}
}
h2{
  text-shadow: 2px 2px;
}


@keyframes example {
  
  25%  {color: rgb(18, 18, 15);}
  50%  {color: rgb(255, 170, 13);}
  100% {color: rgb(58, 128, 0);}
}


p {
  width: 1000px;
  height: 100px;
  color: rgb(19, 133, 19);
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
 
}

